<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/common">
</head>

<body>
<!--<div class="container-fluid" th:fragment="header">-->
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" th:fragment="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-5">
                            <a class="navbar-brand" href="/">READ MUNITY</a>
                        </div>
                        <div class="col-md-7 div-vertical-center">
                            <form>
                                <input type="text" class="form-control search" placeholder="搜索查询"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <nav id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav col-md-8">
                            <li><a href="#">Tags</a></li>
                            <li><a href="/user/list">用户</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img id="avatar" src="/img/avatar/default.png" class="avatar"/>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a th:href="'/user/name/?name='+${#authentication.name}">个人主页</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/user/setting/current">设置</a></li>
                                    <li><a href="/logout">注销</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
                            <li><a th:href="@{/sign/signIn}">登录</a></li>
                            <li><a th:href="@{/sign/signUp}">注册</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


        </div><!--/.container-fluid -->

        <script sec:authorize="isAuthenticated()" type="text/javascript">
            $(function(){
                $.ajax({
                    type: 'GET',
                    url: '/user/avatar',
                    dataType: 'json',
                    success: function (e) {
                        $('#avatar').attr('src', e.result);
                    },
                    error: function(e) {
                        alert(e.result);
                    }
                })
            });
        </script>
    </nav>
<!--</div>-->


</body>
</html>
