<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
</head>
<body>

    <div th:fragment="resultlist">
        <div id="result">
            <div class="col-md-offset-2 col-md-8 user-list-item" th:each="user:${userList}">
                <div class="row">
                    <div class="col-md-4 thumbnail">
                        <a th:href="${user.avatar}">
                            <img th:src="${user.avatar}" class="media-object" width="100px" height="100px"/>
                        </a>
                    </div>
                    <div class="col-md-8 info">
                        <div>
                            <a th:href="'/user/name/?name='+${user.username}" th:text="${user.username}"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="badge alert-danger" data-toggle="tooltip" title="提问数">54</span>&nbsp;&nbsp;
                            <span class="badge alert-success" data-toggle="tooltip" title="回答数">12</span>
                        </div>
                        <div class="text-muted">
                            <p th:text="${user.bio}"></p>
                        </div>
                        <div>
                            <span class="label label-default">java</span>
                            <span class="label label-default">ajax</span>
                            <span class="label label-default">c++</span>
                            <span class="label label-default">设计模式</span>
                        </div>
                        <small>
                            <div class="text-muted" style="vertical-align: middle">
                                <span th:if="${user.address}" th:text="${user.address}+'&nbsp;&nbsp;'" class="glyphicon glyphicon-map-marker" aria-hidden="true">
                                </span>
                                <span th:if="${user.email}" th:text="${user.email}+'&nbsp;&nbsp;'" class="glyphicon glyphicon-envelope" aria-hidden="true">
                                </span>
                            </div>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>