.auth-form {
    margin: 0 auto;
    width: 340px;
}

.auth-form-header {
    background-color: transparent;
    border: 0 none;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: none;
    border-radius: 3px 3px 0 0;
    padding: 10px 20px;
}

.auth-form-body {
    border-radius: 5px;
    border-top: 1px solid #d8dee2;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-image: none;
    border-right: 1px solid #d8dee2;
    border-left: 1px solid #d8dee2;
    border-bottom: 1px solid #d8dee2;
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.form-control {
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(27, 31, 35, 0.075) inset;
    color: #24292e;
    font-size: 14px;
    line-height: 20px;
    min-height: 34px;
    outline: medium none;
    padding: 6px 8px;
    vertical-align: middle;
}

.input-block {
    margin-bottom: 15px;
    margin-top: 5px;
    display: block;
    width: 100%;
}

.forget-label-link {
    float: right;
}

.signSubmit {
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 100%;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    color: #fff;
    border: 1px solid rgba(27, 31, 35, 0.2);
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 0.25em;
}

.create-account-callout {
    margin-top: 20px;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
}

.btn {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    color: #24292e;
    -moz-appearance: none;
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    font-weight: 600;
    line-height: 20px;
    position: relative;
}

.btn-block {
    text-align: center;
}
.flash {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    margin: 0 auto 10px;
    padding: 15px 20px;
}
.flash-error {
    background-color: #ffdce0;
    border-color: rgba(27, 31, 35, 0.15);
    color: #86181d;
}
.flash-close {
    -moz-appearance: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: inherit;
    cursor: pointer;
    float: right;
    margin: -16px;
    opacity: 0.6;
    padding: 16px;
    text-align: center;
}