<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common">
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="auth-form login-form px-3">
    <!-- '"` --><!-- </textarea></xmp> -->
    <form accept-charset="UTF-8" th:action="@{/sign/signIn}" method="post">
        <div class="auth-form-header">
            <h1>更改密码 @<span th:text="${username}"></span> </h1>
        </div>

        <div class="auth-form-body mt-3">
            <p class="note">密码必须包含一个小写字母, 一个数字, 并至少有7个字符长。</p>
            <label>密码</label>
            <input autofocus="autofocus" class="form-control input-block" id="password" name="password" value="" type="password" />

            <label>确认密码</label>
            <input class="form-control input-block" id="password_confirmation" name="password_confirmation" value="" type="password" />

            <input class="signSubmit" name="commit" value="更改密码" type="submit" />
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
</body>
</html>