<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common">
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
    <div class="auth-form">
        <div class="auth-form-header">
            <h1>重设密码</h1>
        </div>
        <div class="flash flash-full flash-error" th:if="${message != null}">
            <span th:text="${message}"></span>
        </div>
        <div class="auth-form-body">
            <form th:action="@{/sign/password_reset}" method="post">
                <label for="email_field">输入您的电子邮件地址, 我们将发送一个链接, 重置您的密码.</label>
                <input autofocus="autofocus" class="form-control input-block" id="email_field" name="toEmail"
                       placeholder="Enter your email address" type="text"/>
                <input name="commit" value="发送密码重设电子邮件" class="signSubmit" type="submit"/>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
<link href="/css/sign.css" rel="stylesheet"/>
</body>
</html>