<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid " align="center">
    <p th:if="${message != null}">
    <h3><img src="/img/wrong.jpg" width="50px" height="50px"/> 密码重置失败！错误信息：<span th:text="${message}"></span></h3>
    </p>
    <p th:if="${message == null}">
    <h3><img src="/img/right.jpg" width="50px" height="50px"/> 密码重置成功，点击<a th:href="@{/sign/signIn}">这里</a>去登录！</h3>
    </p>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
</body>
</html>