<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>问题列表</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/bootstrap/css/offcanvas.css" rel="stylesheet"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/offcanvas.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<div class="container">

    <div class="page-header">
        <div id="alert_content"/>
        <h1>Java 编程思想
            <span class="badge alert-danger" data-toggle="tooltip" title="提问数量">490</span>
            <span class="badge alert-success" data-toggle="tooltip" title="回答数量">1,980</span>
            <span class="badge alert-danger" data-toggle="tooltip" title="当前在读人数">285</span>
            <span class="badge alert-info" data-toggle="tooltip" title="已经读完人数">29,087</span>
            <button id="addSchedule" type="button" class="badge alert-warning">加入阅读</button>
        </h1>
        <h4>
            <small>[美] Bruce Eckel</small>
        </h4>
        <p>
            本书赢得了全球程序员的广泛赞誉，即使是最晦涩的概念，在Bruce Eckel的文字亲和力和小而直接的编程示例面前也会化解于无形。
            从Java的基础语法到最高级特性（深入的面向对象概念、多线程、自动项目构建、单元测试和调试等），本书都能逐步指导你轻松掌握。
        </p>
        <p class="text-left">
            <small>
                <a href="#">
                    <span class="glyphicon glyphicon-th-large text-muted" aria-hidden="true">计算机</span>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">
                    <span class="glyphicon glyphicon-star text-muted" aria-hidden="true">1,520</span>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">
                    <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true">438</span>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-time text-muted" aria-hidden="true">创建时间&nbsp;2017年05月27日</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </small>
        </p>
    </div>

    <div class="row">

        <!--筛选栏-->
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary">TOP</button>
                        <button type="button" class="btn btn-success">最近热门</button>
                        <button type="button" class="btn btn-danger">渴望解决</button>
                        <button type="button" class="btn btn-warning">尚未解决</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="输入信息..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">搜索</button>
                        </span>
                    </div>
                </div>
            </div>
            <hr/>
        </div>

        <div th:each="question: ${questionlist}" class="col-md-8">
            <div class="row">
                <div class="col-md-1">
                    <div style="background-color:skyblue; width: 40px; height: 40px; float: left;"></div>
                </div>
                <div class="col-md-11">
                    <a href="/reply/list"><span th:text="${question.title}" class="lead"></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-11">
                    <p th:text="${question.content}"></p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-11">
                    <p class="text-left">
                        <small>
                            <a href="#">
                                <span class="glyphicon glyphicon-star text-muted" aria-hidden="true">52</span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true">38</span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-time text-muted"
                                  aria-hidden="true">最近更新&nbsp;2017年05月27日</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </small>
                    </p>
                </div>
            </div>
            <hr/>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>

</div><!--/.container-->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function showAlert(message, alerttype) {
        alert("hello");
        $('#alert_placeholder').append('<div id="alertdiv" class="alert ' +  alerttype + '">' +
            '<a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')
        setTimeout(function() {
            $("#alertdiv").remove();
        }, 5000);
    };

    $("#addSchedule").click(function () {
        var message = "(✿╹◡╹)......已经加入阅读计划!";
        var alertType = "alert-success";
        $('#alert_content').append('<div id="alertdiv" class="alert ' +  alertType + '">' +
            '<a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')
        setTimeout(function() {
            $("#alertdiv").remove();
        }, 2500);
    });
</script>
</body>
</html>