<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
    <div class="container">

        <div class="page-header">

            <div class="row">
                <div class="col-xs-6 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="/img/2.jpg" alt="..."/>
                    </a>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${user.name}" class="lead"></p>
                        </div>
                        <div class="col-md-12">
                            <p class="text-muted">
                                人生是个圆，有的人走了一辈子也没有走出命运画出的圆圈。
                                <br/>
                                其实，圆上的每一个点都有一条腾飞的切线。
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div>
                        <p>
                            <span class="badge alert-danger" data-toggle="reading">2</span>&nbsp;&nbsp;
                            <span class="badge alert-info" data-toggle="readed">27</span>&nbsp;&nbsp;
                            <span class="badge alert-danger" data-toggle="tooltip" title="提问数">54</span>&nbsp;&nbsp;
                            <span class="badge alert-success" data-toggle="tooltip" title="回答数">12</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-5 text-muted">
                    <small>
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true">&nbsp;
                            <spane th:text="${user.address}"/>
                        </span>
                        <br/>
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;
                            <span th:text="${user.email}"/>
                        </span>
                        <br/>
                        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true">&nbsp;
                            <span th:text="${user.qq}"/>
                        </span>
                        <br/>
                        <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true">&nbsp;
                            <span th:text="${user.weibo}"/>
                        </span>
                        <br/>
                        <span class="glyphicon glyphicon-open" aria-hidden="true">&nbsp;
                            <span th:text="${user.github}"/>
                        </span>
                        <br/>
                        <span class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;最近登录 2017年05月29日22:18:13</span>
                    </small>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <ul class="nav nav-tabs">
                    <li class="nav"><a href="#question" data-toggle="tab">提问</a></li>
                    <li class="nav"><a href="#answer" data-toggle="tab">回答</a></li>
                    <li class="nav"><a href="#comment" data-toggle="tab">评论</a></li>
                    <li class="nav active"><a href="#starbook" data-toggle="tab">收藏</a></li>
                    <li class="nav"><a href="#starbook" data-toggle="tab">读完</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content row">
                    <div class="tab-pane fade in active" id="question">
                        <br/>
                        <div th:each="question: ${user.questionList}">
                            <div class="col-md-12">
                                <div class="col-md-1"><span class="badge">27</span></div>
                                <div class="col-md-8"><a href="/reply/list"><span th:text="${question.name}"></span></a></div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="answer">
                        <br/>
                        <div th:each="reply: ${user.replyList}">
                            <div class="col-md-12">
                                <div class="col-md-1"><span class="badge">27</span></div>
                                <div class="col-md-8"><a href="/reply/list"><span th:text="${reply.questionName}"></span></a></div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="comment">
                        <br/>
                        <div th:each="reply: ${user.replyList}">
                            <div class="col-md-12">
                                <div class="col-md-1"><span class="badge">27</span></div>
                                <div class="col-md-8"><a href="/reply/list"><span th:text="${reply.questionName}"></span></a></div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="starbook">
                        <br/>
                        <div th:each="starBook: ${user.starBookList}">
                            <div class="col-md-12">
                                <div class="col-md-1"><span class="badge">27</span></div>
                                <div class="col-md-8"><a href="/reply/list"><span th:text="${starBook.name}"></span></a></div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="col-md-12">
                    <p class="text-muted">用户日常活动图</p>
                    <hr/>
                </div>

                <div id="cal-heatmap" class="col-md-12"></div>
                <div class="col-md-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-sm btn-default" id="previousSelector-a-previous">上一年</button>
                        <button type="button" class="btn btn-sm btn-default" id="previousSelector-a-next">下一年</button>
                    </div>
                    <div class="bt-g"></div>
                    <hr/>
                </div>
            </div>

            <div class="col-md-7">
               <div id="diffContent"></div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12">
                    <p class="text-muted">当前阅读</p>
                    <hr/>
                </div>
                <div class="col-md-12">
                    <p>
                        <a href="/question/list">Java 编程思想</a>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                            </div>
                        </div>
                    </p>
                    <hr/>
                    <p>
                        <a href="/question/list">Effective Java</a>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            90%
                            </div>
                        </div>
                    </p>
                    <hr/>
                </div>

            </div>


        </div>

        <div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>

    </div><!--/.container-->
    <script type="text/javascript" src="/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="/js/cal-heatmap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/diff2html.css"/>
    <script type="text/javascript" src="/js/diff2html.min.js"></script>
    <script type="text/javascript" src="/js/diff2html-ui.min.js"></script>



    <script type="text/html" id="reading-content">
        <p class="text-muted">
            <small>
                <a href="/question/list">Java 编程思想</a><br/>
                <a href="/question/list">设计模式</a><br/>
            </small>
        </p>
    </script>
    <script type="text/html" id="readed-content">
        <p class="text-muted">
            <small>
                <a href="/question/list">Effective Java</a><br/>
                <a href="/question/list">发条橙</a><br/>
                <a href="/question/list">献给阿尔金欧诺的花束</a><br/>
                <a href="/question/list">白鹿原</a><br/>
                <a href="/question/list">自制编程语言</a><br/>
                <a href="/question/list">君主论</a><br/>
                <a href="/question/list">......</a><br/>
            </small>
        </p>
    </script>
    <script>
        $("[data-toggle=reading]").popover({
            html: true,
            title: '在读(-ิ_-ิ;)',
            placement: 'top',
            trigger: 'hover',
            delay: {'show': 0, 'hide': 1000},
            content: $('#reading-content').html()
        });
        $("[data-toggle=readed]").popover({
            html: true,
            title: '读完(?﹏?)',
            placement: 'bottom',
            trigger: 'hover',
            delay: {'show': 0, 'hide': 1000},
            content: $('#readed-content').html()
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        <!-- 对比内容显示 -->
            var lineDiffExample =
                +'Index: filename\n'
                +'===================================================================\n'
                +'--- filename	left\n'
                +'+++ filename	right\n'
                +'@@ -1,1 +1,1 @@\n'
                +'-hi i\'am ok\n'
                +'-hello world\n'
                +'+hi i\' not ok\n'
                +'+\n'
                +'+hello';

        $(document).ready(function() {
            var diff2htmlUi = new Diff2HtmlUI({diff: lineDiffExample});
            diff2htmlUi.draw('#diffContent', {inputFormat: 'diff', showFiles: true, matching: 'lines'});
            diff2htmlUi.highlightCode('#diffConetnt');
        });

        <!-- 用户活动图显示 -->
        var cal = new CalHeatMap();
        cal.init({
            domain: "year",
            subDomain: "day",
            cellRadius: 3,
            previousSelector: "#previousSelector-a-previous",
            nextSelector: "#previousSelector-a-next",
            tooltip: true,
            rowLimit: 10,
            range: 1,
            legendHorizontalPosition: "right",
            domainLabelFormat: "%Y年",
            itemName: ["个贡献<br/>","个贡献<br/>"],
            subDomainTitleFormat: {
                empty: '休养生息<br/>{date}',
                filled: "{count} {name} {date}"
            },
            subDomainDateFormat: "%Y年/%m月/%d日",
            start: new Date(2012,10,27),
            data: {
                "1288152000": 1,
                "1288324800": 8,
                "1288411200": 8,
                "1288756800": 2,
                "1288929600": 10,
                "1289278800": 4,
                "1290056400": 3,
                "1290488400": 0,
                "1293598800": 0,
                "1293771600": 13,
                "1293944400": 5,
                "1294376400": 0,
                "1294462800": 10,
                "1294722000": 2,
                "1294808400": 16,
                "1294981200": 8,
                "1295240400": 6,
                "1295413200": 8,
                "1295672400": 7,
                "1295758800": 17,
                "1296018000": 10,
                "1296190800": 15,
                "1296277200": 8,
                "1296450000": 16,
                "1296622800": 13,
                "1296795600": 6,
                "1296968400": 14,
                "1297141200": 8,
                "1297227600": 7,
                "1297400400": 11,
                "1297486800": 11,
                "1297746000": 14,
                "1297832400": 0,
                "1298350800": 11,
                "1298437200": 10,
                "1298610000": 4,
                "1298782800": 7,
                "1298955600": 12,
                "1299042000": 8,
                "1299214800": 8,
                "1299301200": 8,
                "1299560400": 6,
                "1299646800": 8,
                "1299819600": 10,
                "1299992400": 6,
                "1300161600": 5,
                "1300248000": 15,
                "1300420800": 6,
                "1300507200": 6,
                "1300680000": 2,
                "1300852800": 8,
                "1301025600": 12,
                "1301112000": 5,
                "1301284800": 0,
                "1301457600": 8,
                "1301630400": 6,
                "1301803200": 3,
                "1302062400": 23,
                "1302235200": 7,
                "1302408000": 6,
                "1302667200": 2,
                "1324875600": 12,
                "1325048400": 18,
                "1325221200": 2,
                "1325307600": 7,
                "1325480400": 21,
                "1325653200": 13,
                "1325826000": 12,
                "1325912400": 6,
                "1326085200": 13,
                "1326258000": 5,
                "1326430800": 10,
                "1326517200": 17,
                "1326862800": 10,
                "1327035600": 7,
                "1327208400": 13,
                "1327381200": 7,
                "1327467600": 13,
                "1327640400": 16,
                "1327813200": 6,
                "1327986000": 24,
                "1328072400": 10,
                "1328245200": 30,
                "1328331600": 13,
                "1328590800": 14,
                "1328677200": 5,
                "1328850000": 8,
                "1328936400": 15,
                "1329195600": 12,
                "1329282000": 11,
                "1329368400": 11,
                "1329627600": 7,
                "1329800400": 20,
                "1329886800": 10,
                "1330405200": 11,
                "1330750800": 11,
                "1330923600": 21,
                "1331010000": 11,
                "1331355600": 12,
                "1331442000": 22,
                "1331611200": 11,
                "1331697600": 8,
                "1331870400": 5,
                "1331956800": 18,
                "1332216000": 7,
                "1332388800": 13,
                "1332475200": 15,
                "1332561600": 4,
                "1332734400": 16,
                "1332907200": 22,
                "1332993600": 7,
                "1333166400": 18,
                "1333252800": 9,
                "1333425600": 18,
                "1333512000": 9,
                "1333684800": 8,
                "1333771200": 2,
                "1333944000": 15,
                "1334116800": 6,
                "1334289600": 0,
                "1334376000": 10,
                "1334548800": 18,
                "1334635200": 9,
                "1334808000": 14,
                "1334980800": 16,
                "1335153600": 27,
                "1335326400": 7,
                "1351656000": 14,
                "1351828800": 12,
                "1351915200": 16,
                "1352091600": 14,
                "1352264400": 13,
                "1352437200": 11,
                "1352523600": 20,
                "1352782800": 12,
                "1352869200": 12,
                "1353042000": 11,
                "1353214800": 20,
                "1353301200": 6,
                "1353474000": 37,
                "1353646800": 15,
                "1353992400": 12,
                "1354251600": 4,
                "1354338000": 0,
                "1354597200": 34,
                "1354683600": 22,
                "1354856400": 22,
                "1355029200": 17,
                "1355288400": 27,
                "1355461200": 28,
                "1355547600": 15,
                "1355806800": 16,
                "1355893200": 20,
                "1356066000": 10,
                "1356152400": 17,
                "1356670800": 15,
                "1356757200": 18,
                "1356930000": 21,
                "1357102800": 29,
                "1357275600": 9,
                "1357362000": 8,
                "1357621200": 29,
                "1357794000": 24,
                "1358053200": 15,
                "1358226000": 16,
                "1358312400": 20,
                "1358485200": 31,
                "1358744400": 12,
                "1358917200": 22,
                "1359176400": 23,
                "1359349200": 23,
                "1359522000": 10,
                "1359694800": 15,
                "1359954000": 21,
                "1360040400": 29,
                "1360126800": 15,
                "1360299600": 26,
                "1360558800": 5,
                "1360731600": 23,
                "1361336400": 27,
                "1361509200": 12,
                "1361595600": 12,
                "1361854800": 21,
                "1362027600": 20,
                "1362114000": 22,
                "1362286800": 10,
                "1362546000": 16,
                "1362718800": 25,
                "1362891600": 10,
                "1363147200": 17,
                "1363320000": 20,
                "1363406400": 18,
                "1363579200": 14,
                "1363665600": 19,
                "1363924800": 20,
                "1364011200": 23,
                "1364184000": 13,
                "1364356800": 16,
                "1364443200": 24,
                "1364616000": 25,
                "1364788800": 23,
                "1365134400": 8,
                "1365220800": 2,
                "1365480000": 14,
                "1365739200": 21,
                "1365912000": 9,
                "1383019200": 24,
                "1383105600": 32,
                "1383364800": 21,
                "1383627600": 31,
                "1383714000": 21,
                "1383886800": 23,
                "1383973200": 24,
                "1384146000": 23,
                "1384491600": 22,
                "1384578000": 12,
                "1384923600": 35,
                "1385096400": 27,
                "1385182800": 19,
                "1385355600": 26,
                "1385528400": 15,
                "1385701200": 23,
                "1385874000": 27,
                "1385960400": 43,
                "1386133200": 19,
                "1386392400": 28,
                "1386478800": 32,
                "1386651600": 17,
                "1386910800": 10
            }
        });
    </script>

</body>
</html>