<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <!--<h3 th:text="${amount}"></h3>条结果-->
                <form id="search" class="navbar-form navbar-right" method="get" action="/user/list/filter" accept-charset="UTF-8" role="search">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            排序 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">贡献值</a></li>
                            <li><a href="#">读书数量</a></li>
                            <li><a href="#">回答数量</a></li>
                            <li><a href="#">提问数量</a></li>
                            <li><a href="#">登录时间</a></li>
                        </ul>
                    </div>
                </form>
            </div>

            <div th:include="fragments/userlist"></div>
        </div>

        <div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>

    </div><!--/.container-->


    <link href="/css/user-list.css" rel="stylesheet"/>
    <script type="text/javascript">
        var form = $('#search');
        form.submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                    $('#result').replaceWith(data);
                },
                error: function (data) {
//                    console.log('An error occurred.');
//                    console.log(data);
                }
            });
        });
    </script>

</body>
</html>