<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
    <div class="container">

        <div class="page-header">
            这写点东西
        </div>

        <div class="row">
            <div class="col-md-8">
                <div th:each="shot: ${shotlist}">
                    <div th:value="${shot.id}" class="alert alert-success shot" role="alert" isOpen = "false" isLoad = "false">
                        <div class="col-md-2">
                            <p th:text="${shot.version}"/>
                        </div>
                    <div th:text="${shot.summary}"/>
                    </div>

                    <div th:id="'diffDiv_'+${shot.id}" class="diffDiv">
                        <button th:id="'diffLineBtn_' + ${shot.id}" th:value="${shot.id}" type="button" class="btn btn-default btn-sm btn-lineDiff">line by line</button>
                        <button th:value="${shot.id}" type="button" class="btn btn-default btn-sm btn-sideDiff">side by side</button>
                        <div th:id="'diffContent_'+${shot.id}"/>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>

    </div>

    <link rel="stylesheet" type="text/css" href="/css/diff2html.css"/>
    <script type="text/javascript" src="/js/diff2html.min.js"></script>
    <script type="text/javascript" src="/js/diff2html-ui.min.js"></script>

    <script th:inline="javascript">
        <!-- 对比内容显示 -->
        var diffMap = new Object();

        $('.shot').click(function () {
            var shot = $(this);
            var shotId = shot.attr('value');

            if('true' == shot.attr('isOpen')) {
                $('#diffDiv_' + shotId).hide();
                shot.attr('isOpen', 'false');
            } else if('false' == shot.attr('isLoad')) {
                var url, data;
                if('question' == [[${type}]]) {
                    url = '/version/question/path';
                    data = {questionId: shotId};
                } else if('reply' == [[${type}]]) {
                    url = '/version/reply/patch';
                    data = {replyId: shotId};
                } else {
                    alert('参数异常！')
                    return;
                }
                 $.ajax({
                    type: 'GET',
                    async: false,
                    url: url,
                    dataType: 'json',
                    data: data,
                    success: function(e) {
                        var diff2htmlUi = new Diff2HtmlUI({diff: e.result});
                        diff2htmlUi.draw('#diffContent_' + shotId, {inputFormat: 'diff', matching: 'line'});
                        diff2htmlUi.highlightCode('#diffConetnt_' + shotId);

                        $('#diffDiv_' + shotId).show();
                        diffMap['diffContent_' + shotId] = diff2htmlUi;
                        shot.attr('isOpen', 'true');
                        shot.attr('isLoad', 'true');
                    },
                    error: function () {
                        alert("获取数据失败！请重试！");
                    }
                });
            } else {
                $('#diffDiv_' + shotId).show();
                shot.attr('isOpen', true);
            }
        });

        $('.btn-lineDiff').click(function () {
            var shotId = $(this).attr('value');
            var diff2htmlUi = diffMap['diffContent_' + shotId];
            diff2htmlUi.draw('#diffContent_' + shotId, {inputFormat: 'diff', matching: 'line', outputFormat: 'line-by-line'});
            diff2htmlUi.highlight('#diffContent_' + shotId);
        });

        $('.btn-sideDiff').click(function () {
            var shotId= $(this).attr('value');
            var diff2htmlUi = diffMap['diffContent_' + shotId];
            diff2htmlUi.draw('#diffContent_' + shotId, {inputFormat: 'diff', matching: 'line', outputFormat: 'side-by-side'});
            diff2htmlUi.highlight('#diffContent_' + shotId);
        })

        $('.diffDiv').hide();
        $('.shot')[0].click();

    </script>

</body>
</html>