<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common">
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
     Main component for a primary marketing message or call to action

    <div class="container-fluid">
        <div class="carousel slide" id="carousel-154455">
            <ol class="carousel-indicators">
                <li th:each="hotBook,rowStat: ${hotBooks}" th:attr="data-slide-to=${rowStat.index}"
                    data-target="#carousel-154455" th:class="${rowStat.index==0}?'active':''"></li>
            </ol>
            <div class="carousel-inner">
                <div th:class="${rowStat.index==0}?'item active':'item'" th:each="hotBook,rowStat: ${hotBooks}">
                    <div class="container-fluid media col-md-9" align="center">
                        <div class="col-md-6">
                            <img class="carousel-inner-img" th:src="${hotBook.book_url}" align="right"/>
                        </div>
                        <div class="col-md-6">
                            <h2>
                                <span th:text="${hotBook.name}"></span>
                            </h2>
                            <p>
                                <span th:text="${hotBook.overview}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#carousel-154455" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-154455" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <hr class="featurette-divider"/>
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="tabbable" id="tabs-334385">
                    <ul class="nav nav-tabs">
                        <li th:each="goodBook,rowStat: ${goodBooksFromClassification}"
                            th:class="${rowStat.index==0}?'active':''">
                            <a th:href="@{'#panel-'+${rowStat.index}}" data-toggle="tab"
                               th:text="${goodBook.classification.name}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div th:each="goodBook,rowStat: ${goodBooksFromClassification}"
                             th:class="${rowStat.index==0}?'tab-pane active':'tab-pane'"
                             th:id="@{'panel-'+${rowStat.index}}">
                            <div class="row">
                                <a href="/question/list?bookId=001" >
                                    <div class="container-fluid media col-md-6 col-lg-4" th:each="book,rowStat2: ${goodBook.books}">

                                        <img th:src="${book.book_url}" width="50%" height="60%" align="left"/>

                                        <div align="right">
                                            <h5 th:text="${book.name}"></h5>
                                            <small>
                                                <span th:text="${book.overview}" class="text-muted"></span>
                                            </small>
                                        </div>
                                    </div>
                                </a>


                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/row-->
            <div class="col-xs-5 col-sm-3 sidebar-offcanvas" id="sidebar">
                <h3><span class="label label-info">最受关注图书榜</span></h3>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" th:each="rankingBook,rankstat: ${rankingBook}">
                        <div class="panel-heading">
                            <span class="badge btn-danger" data-toggle="tooltip" title="当前在读人数">285</span>&nbsp;
                            <a data-toggle="collapse" data-parent="#accordion"
                               th:href="@{'#collapse-'+${rankstat.index}}" th:text="${rankingBook.name}"></a>
                        </div>
                        <div th:id="@{'collapse-'+${rankstat.index}}"
                             th:class="${rankstat.index==0}?'panel-collapse collapse in':'panel-collapse collapse'">
                            <a href="question/list?bookId=001">
                                <div class="panel-body" th:text="${rankingBook.overview}"></div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<link href="/bootstrap/css/carousel.css" rel="stylesheet"/>
<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>